HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Uploads - Exclude large files ###
uploads/
uploads/**/*.mp4
uploads/**/*.MP4
uploads/**/*.mov
uploads/**/*.MOV
uploads/**/*.avi
uploads/**/*.AVI
uploads/FEATURED VIDEO/
