# Compiled files
target/
*.class

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Uploads folder (too large for GitHub)
uploads/
FEATURED VIDEO/

# Environment
.env
application-prod.properties

# OS
.DS_Store
Thumbs.db
